div {
	background-color: rgba(244, 229, 66, 0.3);
	width: 400px;
	padding: 20px;

}

.heading {
	background-color: rgba(100,0,0,1);
	font-family: MS Gothic, sans-serif;
}

body {

	font-family: MS Gothic, sans-serif;

}